[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
mypy = "*"
pylint = "*"
rope = "*"

[packages]
asyncua = "*"
beautifulsoup4 = "*"
ccxt = "*"
# dash = "*"
# dash-core-components = "*"
# dash-html-components = "*"
# dash_daq = "*"
# "dask[complete]" = "*"
django = "*"
ib-insync = "*"
ipykernel = "*"
matplotlib = "*"
ntplib = "*"
numpy = "*"
paho-mqtt = "*"
pandas = "*"
plotly = "*"
# qgrid = "*"
psycopg2-binary = "*"
pytest = "*"
requests = "*"
responses = "*"
scikit-learn = "*"
seaborn = "*"
sqlalchemy = "*"
statsmodels = "*"
# tensorflow = "*"
tqdm = "*"
# wxpython = "*"

[requires]
python_version = "3.10"
